
:root {
  --zindex-auth: 2000;
  --zindex-topmost: calc(var(--zindex-auth) - 5);
  --zindex-modal: 1050;
}

.centerMessage {
  position: fixed;
  left: 50vw;
  top: 50vh;
  left: 50dvw;
  top: 50dvh;
  transform: translate(-50%, -50%);
  max-width: 80ch;
  text-align: center;
  font-size: 1.2em;
  cursor: default;
}

.hidden {
  display: none !important;
}

.scrollY {
  overflow-y: scroll;
}

button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.no-wrap {
  white-space: nowrap;
}

.centered {
  align-items: center;
  display: flex;
  flex-direction: column;
}

