
.centerMessage {
  position: fixed;
  left: 50vw;
  top: 50vh;
  left: 50dvw;
  top: 50dvh;
  transform: translate(-50%, -50%);
  max-width: 80ch;
  text-align: center;
  font-size: 1.5em;
  cursor: default;
}

.hidden {
  display: none !important;
}


button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.no-wrap {
  white-space: nowrap;
}

.centered {
  align-items: center;
  display: flex;
  flex-direction: column;
}

